# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/TESTING_GUIDE.md
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/setup.sh
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/DEPLOYMENT.md
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/push.sh
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/.vscode
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/.kiro
/Users/hemant/Desktop/personal/Project/VeloStyle-Main/push_complete_history.sh
